*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html{
    font-size: 14px;
}

body{
    width: 100vw;
}

.navbar{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

}

.navlink{
    text-decoration: none;
    font-size: 1.4rem;
    color: rgba(0, 0, 00, 0.7);
    margin-right: 1rem;
}

.home-container{
    height: 100vh;
    background:  #32a8c8;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.name{
    font-size: 6rem;
    color: white;
    font-weight: 300;
}

.intro{
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
    min-height: 2;
}

.social{
    padding: 3rem;
}

.icon{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 4px;
}

.icon:hover{
    color: black;
}

.btn{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    line-height: 1.5;
    border: 1px solid white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
}

.btn:hover{
    color: black;
    background: white;
}